table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid purple;
  }
  
  thead th:nth-child(1) {
    width: 30%;
    border: 1px solid purple;
  }
  
  thead th:nth-child(2) {
    width: 20%;
    border: 1px solid purple;
  }
  
  thead th:nth-child(3) {
    width: 15%;
    border: 1px solid purple;
  }
  
  thead th:nth-child(4) {
    width: 35%;
    border: 1px solid purple;
  }
  
  th, td {
    padding: 20px;
    border: 1px solid purple;
  }

  h1 {
  color: #6c2eb9;
  font-weight: normal;
  font-size: 30px;
  font-family: Arial;
  text-transform: uppercase;
  }